body {
	margin: 0;
	padding: 0;
	font-family: "ו";
	font-size: 12px;
}

.pointer {
	cursor: pointer;
	color: #6BA6FF;
}

.tab {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.menu,.menu li {
	margin: 0;
	padding: 0;
	height: 23px;
	list-style: none;
	overflow: hidden;
	text-align: center;
}

.menu {
	border-bottom: 1px solid #DEEFFF;
}

.menu .default {
	width: 86px;
	float: left;
	font-size: 13px;
	line-height: 1.8;
	margin-left: 0px;
	cursor: pointer;
	background: url('/db/page/images/checkdefault.jpg') no-repeat;
}

.menu .active {
	width: 86px;
	float: left;
	font-size: 13px;
	line-height: 1.8;
	margin-left: 0px;
	cursor: pointer;
	color: #FFFFFF;
	background: url('/db/page/images/checkactive.jpg') no-repeat;
}

.SortDescCss {
	background-image: url(/db/page/images/tabledesc.gif);
	background-repeat: no-repeat;
	background-position: right center;
}

.SortAscCss {
	background-image: url(/db/page/images/tableasc.gif);
	background-repeat: no-repeat;
	background-position: right center;
}

.colField {
	font-family: "ו";
	font-size: 9pt;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	color: #000000;
	background: url('/db/page/images/titmember.gif');
}

.colValue {
	font-family: "ו";
	font-size: 9pt;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.legend {
	font-size: 12px;
	font-weight: lighter;
	color: #000000;
	text-align: center;
}

.btn {
	BORDER-RIGHT: #002D96 1px solid;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #002D96 1px solid;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	FILTER: progid :   DXImageTransform.Microsoft.Gradient (   GradientType
		=   0, StartColorStr =   #FFFFFF, EndColorStr =   #9DBCEA );
	BORDER-LEFT: #002D96 1px solid;
	CURSOR: hand;
	COLOR: black;
	PADDING-TOP: 0px;
	PADDING-BOTTOM: 0px;
	BORDER-BOTTOM: #002D96 1px solid
}

#pagestatusdiv {
	position: absolute;
	z-index: 2;
	color: #FF0099;
	font-weight: bold;
	font-size: 14px;
	display: none;
}

#resultstatusdiv {
	border-top: 1px solid buttonhighlight;
	border-left: 1px solid buttonhighlight;
	border-bottom: 1px solid buttonshadow;
	border-right: 1px solid buttonshadow;
	position: absolute;
	z-index: 2;
	font-weight: bold;
	color: #FF0099;
	font-size: 14px;
	text-align: center;
	background-color: #FFCCCC;
	display: none;
}

.SortDescCss {
	background-image: url(/db/page/images/tabledesc.gif);
	background-repeat: no-repeat;
	background-position: right center;
}

.SortAscCss {
	background-image: url(/db/page/images/tableasc.gif);
	background-repeat: no-repeat;
	background-position: right center;
}

.myspace {
	border-top: 1px solid #DEEFFF;
	border-bottom: 1px solid #DEEFFF;
	border-left: 1px solid #DEEFFF;
	border-right: 1px solid #DEEFFF;
	font-size: 13px
}

.mybackground {
	color: #666666;
	background-color: #DEEFFF;
	font-size: 12px;
}