<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="show_sql">false</property>
		<property name="query.factory_class">
			org.hibernate.hql.ast.ASTQueryTranslatorFactory
	</property>
		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="connection.url">
			jdbc:oracle:thin:@(DESCRIPTION =(ADDRESS =
			(PROTOCOL = TCP)(HOST = 10.1.0.31)(PORT = 1521))(ADDRESS = (PROTOCOL
			= TCP)(HOST = 10.1.0.32)(PORT = 1521))(LOAD_BALANCE = yes)(FAILOVER =
			ON)(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME =ncdb)(FAILOVER_MODE=(TYPE = SELECT)(METHOD = BASIC)(RETIRES =
			20)(DELAY = 15))))
		</property>
		<property name="connection.username">summer</property>
		<property name="connection.password">summer</property>
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="dialect">org.hibernate.dialect.Oracle9iDialect</property>
		<property name="hibernate.c3p0.max_size">200</property>
		<property name="hibernate.c3p0.min_size">20</property>
		<property name="hibernate.c3p0.timeout">120</property>
		<property name="hibernate.c3p0.max_statements">100</property>
		<property name="hibernate.c3p0.maxIdleTime">240</property>
		<property name="hibernate.c3p0.maxStatementsPerConnection">100</property>
		<property name="hibernate.c3p0.idle_test_period">60</property>
		<property name="hibernate.c3p0.preferredTestQuery">select 1 from dual</property>
		<property name="hibernate.c3p0.acquire_increment">5</property>
		<property name="hibernate.c3p0.validate">true</property>
		<!-- <property name="bonecp.minPoolSize">10</property> <property name="bonecp.maxPoolSize">100</property> 
			<property name="bonecp.maxIdleTime">1800</property> <property name="bonecp.idleConnectionTestPeriodInMinutes">240</property> 
			<property name="bonecp.idleMaxAgeInMinutes">240</property> <property name="bonecp.maxConnectionsPerPartition">30</property> 
			<property name="bonecp.minConnectionsPerPartition">5</property> <property 
			name="bonecp.partitionCount">3</property> <property name="bonecp.acquireIncrement">5</property> 
			<property name="bonecp.statementsCacheSize">50</property> <property name="bonecp.releaseHelperThreads">2</property> 
			<property name="bonecp.disableConnectionTracking">ture</property> -->
		<property name="hibernate.connection.release_mode">auto</property>
		<property name="hibernate.connection.autocommit">true</property>
		<mapping resource="com/mingda/entity/SysTPost.hbm.xml" />
		<mapping resource="com/mingda/entity/SysTOrganization.hbm.xml" />
		<mapping resource="com/mingda/entity/SysTPrivilege.hbm.xml" />
		<mapping resource="com/mingda/entity/SysTRole.hbm.xml" />
		<mapping resource="com/mingda/entity/SysTOperatelog.hbm.xml" />
		<mapping resource="com/mingda/entity/SysTEmployee.hbm.xml" />
		<mapping resource="com/mingda/entity/SysTOrgext.hbm.xml" />
		<mapping resource="com/mingda/entity/SysTEmpext.hbm.xml" />
		<mapping resource="com/mingda/entity/SysTDictsort.hbm.xml" />
		<mapping resource="com/mingda/entity/SysTDictionary.hbm.xml" />
		<mapping resource="com/mingda/entity/SysTField.hbm.xml" />
		<mapping resource="com/mingda/entity/SysTTable.hbm.xml" />
		<mapping resource="com/mingda/entity/SysTClasstype.hbm.xml" />
		<mapping resource="com/mingda/entity/SysTInfolog.hbm.xml" />
		<mapping resource="com/mingda/entity/BizTFamilymove.hbm.xml" />
		<mapping resource="com/mingda/entity/SysTUnit.hbm.xml" />
		<mapping resource="com/mingda/entity/BizTValidatelog.hbm.xml" />
		<mapping resource="com/mingda/entity/BizTValidateterm.hbm.xml" />
		<mapping resource="com/mingda/entity/ImplTInterfacedefine.hbm.xml" />
		<mapping resource="com/mingda/entity/ImplTMonth.hbm.xml" />
		<mapping resource="com/mingda/entity/ImplTBill.hbm.xml" />
		<mapping resource="com/mingda/entity/ImplTAccoptcheck.hbm.xml" />
		<mapping resource="com/mingda/entity/DoperTPolicy.hbm.xml" />
		<mapping resource="com/mingda/entity/DoperTStandard.hbm.xml" />
		<mapping resource="com/mingda/entity/BizTOptcheckchild.hbm.xml" />
		<mapping resource="com/mingda/entity/BizTRepoptcheckchild.hbm.xml" />
		<mapping resource="com/mingda/entity/BizTCheckflow.hbm.xml" />
		<mapping resource="com/mingda/entity/BizTRepoptcheckchildidea.hbm.xml" />
		<mapping resource="com/mingda/entity/BizTRequestidea.hbm.xml" />
		<mapping resource="com/mingda/entity/BizTOptchecktype.hbm.xml" />
		<mapping resource="com/mingda/entity/BizTOptcheckchilditem.hbm.xml" />
		<mapping resource="com/mingda/entity/BizTRepoptcheckidea.hbm.xml" />
		<mapping resource="com/mingda/entity/BizTMasterinstead.hbm.xml" />
		<mapping resource="com/mingda/entity/BizTFamilystatus.hbm.xml" />
		<mapping resource="com/mingda/entity/BizTRequest.hbm.xml" />
		<mapping resource="com/mingda/entity/BizTRepoptcheckchilditem.hbm.xml" />
		<mapping resource="com/mingda/entity/BizTCheckpower.hbm.xml" />
		<mapping resource="com/mingda/entity/BizTRepoptchecktype.hbm.xml" />
		<mapping resource="com/mingda/entity/BizTOptreviewperson.hbm.xml" />
		<mapping resource="com/mingda/entity/BizTRepoptcheck.hbm.xml" />
		<mapping resource="com/mingda/entity/BizTOptcheckidea.hbm.xml" />
		<mapping resource="com/mingda/entity/BizTInterview.hbm.xml" />
		<mapping resource="com/mingda/entity/BizTOptcheckchildidea.hbm.xml" />
		<mapping resource="com/mingda/entity/BizTOptcheck.hbm.xml" />
		<mapping resource="com/mingda/entity/InfoTMember.hbm.xml" />
		<mapping resource="com/mingda/entity/DoperTPolicychild.hbm.xml" />
		<mapping resource="com/mingda/entity/DoperTPolicychilddept.hbm.xml" />
		<mapping resource="com/mingda/entity/DoperTPolicychildsql.hbm.xml" />
		<mapping resource="com/mingda/entity/DoperTPolicymenu.hbm.xml" />
		<mapping resource="com/mingda/entity/DoperTStandarddept.hbm.xml" />
		<mapping resource="com/mingda/entity/InfoTFamily.hbm.xml" />
		<mapping resource="com/mingda/entity/NetTNotice.hbm.xml" />
		<mapping resource="com/mingda/entity/NetTFile.hbm.xml" />
		<mapping resource="com/mingda/entity/NetTReceive.hbm.xml" />
		<mapping resource="com/mingda/entity/NetTTransfer.hbm.xml" />
		<mapping resource="com/mingda/entity/ImplTPaperinfo1.hbm.xml" />
		<mapping resource="com/mingda/entity/ImplTPaperinfo2.hbm.xml" />
		<mapping resource="com/mingda/entity/ImplTPapertype.hbm.xml" />
		<mapping resource="com/mingda/entity/ImplTPaperrecord.hbm.xml" />
		<mapping resource="com/mingda/entity/BizTDemurral.hbm.xml" />
		<mapping resource="com/mingda/entity/BizTOptacc.hbm.xml" />
		<mapping resource="com/mingda/entity/SysTIniquery.hbm.xml" />
		<mapping resource="com/mingda/entity/SysTIniqueryitem.hbm.xml" />
	</session-factory>
</hibernate-configuration>